@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html, body {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
button:focus-visible {
  outline: 2px solid #F9F9F9 !important;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
  text-decoration: underline;
}